.navlist {
  list-style: none;
  font-family: "Cutive", sans-serif;
  text-align: left;
  padding-left: 7%;
  display: inline-block;
  width: 90%;
}

.icon {
  padding-right: 10px;
  vertical-align: middle;
  padding-bottom: 6px;
}

.navbars:hover {
  color: rgb(221, 141, 30);
}

li li {
  font-size: 15px;
}

.navlist li a:hover {
  color: white;
}

hr {
  border: 0.5px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  width: 75%;
}

li {
  font-size: 22px;
  line-height: 3em;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 15%;
}
