.color-letter1, .color-letter2, .color-letter3, .color-letter4, .color-letter5, .color-letter6{
    font-size: 7vw;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
   
    font-family: 'Lora', sans-serif ;

    color: transparent;
 


     text-align: center;

  
}

.color-letter6{
padding-right: 3%;
}



.color-letter1:hover{
    
cursor:default;
color: rgb(211, 58, 58);


}
.color-letter2:hover{
    cursor:default;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: rgb(35, 152, 78);
 
}
.color-letter3:hover{
    cursor:default;
    color: rgb(50, 14, 194);
}
.color-letter4:hover{
    cursor:default;
    color: rgb(204, 108, 30);
}
.color-letter5:hover, .color-letter6:hover{
    cursor:default;
    color: rgb(156, 31, 172);
 
}

@keyframes dropDown {
    0% {
        opacity: 0;
      transform: translateY(-50px);
    }
    100% {
 
      transform: translateY(0);
      opacity: 100%;
    }
  }

@media only screen and (max-width: 1000px) {
    .color-letter1, .color-letter2, .color-letter3, .color-letter4, .color-letter5, .color-letter6{
        font-size: 11vw;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-background-clip: text;
        -moz-background-clip: text;
       
        font-family: 'Lora', sans-serif ;
    
        color: transparent;
     
    
    
         text-align: center;
    }
}