.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  min-width: 60vw;
  animation: fadeInSide 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInSide {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.row {
  display: flex;
  flex-shrink: 1;

  flex-wrap: wrap;
  /* width: 100%;  */
  min-width: 100%;
  /* height: 20vh; */
  min-height: 25vh;

  justify-content: center;
  align-items: center;
  gap: 5%;
}

.school-icon {
  display: flex;
  flex-direction: column;
  max-width: 15%;
  align-items: center;
  row-gap: 18px;
}

.school-icon img {
  max-width: 3em;
  padding-right: 25%;
}
.box {
  font-size: 1em;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  width: 5vw;
  height: 15vh;
  border-radius: 0%;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box:hover {
  box-shadow: none;
  width: 30vw;
  height: 10vw;
  border-radius: 0;
  transition: 0.3s ease-in-out;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.about-me {
  display: flex;
  width: 75%;
  height: 15vh;

  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row h1 {
  white-space: nowrap;

  font-size: 2em;

  min-height: min-content;
  max-width: min-content;
  font-family: "Cutive", sans-serif;

  /* animation-delay: ; */
}

.about-me:hover {
  /* height:20vh; */
  width: 100%;
  min-height: max-content;
  height: 20vh;
  /* min-height: fit-content; */

  border-radius: 0%;
  transition: 0.3s ease-in-out;
  box-shadow: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);


}

.box-content {
  opacity: 0;

  /* transition: opacity 0.5s ease-in-out; */

  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  height: 90%;
  font-size: calc(0.4em + 0.5vw);
  font-family: "Cutive", sans-serif;
}

.box-content-skills {
  opacity: 0;

  font-family: "Cutive", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: calc(0.3em + 0.5vw);

  gap: 5%;
  /* row-gap: 10%; */
  height: 80%;

  /* max-width: 100%; */
}

.grid h1 {
  font-family: "Cutive", sans-serif;
  position: fixed;
  opacity: 1;
  /* transition: opacity 1.5s ease-in-out; */
  font-size: 1.5em;
}

.box:hover h1 {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.about-me:hover h1 {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.box:hover .box-content-skills,
.box:hover .box-content {
  opacity: 1;

  transition: opacity 0.3s 0.2s ease-in-out;
}
.school {
  font-style: italic;
}

.info {
  width: 98%;
  text-align: left;
  align-self: center;
  font-style: italic;
  padding-top: 5%;
  padding-bottom: 5%;
}

.about-me:hover .box-content {
  opacity: 1;
  transition: opacity 0.3s 0.2s  ease-in-out;
}

@media only screen and (max-width: 1000px) {
  .box {
    width: 80vw;
    height: 10vh;
  }

  .box:hover {
    width: 95vw;
    height: fit-content;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .about-me {
    height: 20vh;
    width: 80vw;
  }

  .about-me:hover {
    width: 95vw;
    height: fit-content;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .info {
  
    width: 90%;
    
    font-size: 1em;
    
    /* font-size: 0.8em; */
    
  }

  .row {
    min-height: 40vh;
    flex-direction: column;
  }
  .grid {
    padding-bottom: 10%;
  }

  .box-content {
    font-size: 0.7em;
    width: 98%;
  }

  .box-content-skills {
    font-size: 0.8em;
    width: 100%;
  }
  .grid h1 {
    font-size: 1.5em;
  }

  .school-icon img {

   width: 30px;
  }
}


