.game-layout{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    width: 100%;
}

.reset-button {
    align-items: center;
    appearance: none;
    background-color:  rgba(230, 175, 120, 0.571);
    border-radius: 50%;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,rgba(105, 76, 47, 0.551) 0 -3px 0 inset;
    width:min-content;
    height: 60px;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
  
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .reset-button:focus {
    box-shadow: rgba(105, 76, 47, 0.551) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(105, 76, 47, 0.551) 0 -3px 0 inset;
  }
  
  .reset-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(105, 76, 47, 0.551) 0 -3px 0 inset;
    transform: translateY(-2px);
    background-color: rgb(233, 195, 124);
  }
  
  .reset-button:active {
    box-shadow:rgba(105, 76, 47, 0.551) 0 3px 7px inset;
    transform: translateY(2px);
  }

  .game-status {
    align-items: center;
    appearance: none;
    background-color:  rgba(231, 190, 149, 0.571);
    border-radius: 50%;
    border-width: 0;
  
    width:min-content;
    height: 60px;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
  
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  